html, body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}
h2 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
h2:hover {
    transform: scale(1.1);
}
.hamburger {
    font-size: 28px;
    padding: 16px;
    cursor: pointer;
    z-index: 1002;
    position: fixed;
    left: 0;
}
.sidebar {
    background: white;
    color: white;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    padding: 60px 20px 20px;
    z-index: 1001;
}
.sidebar.open {
    left: 0;
}
.sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 0;
}
.sidebar-item {
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}
.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    display: none;
    z-index: 1000;
}
.overlay.show {
    display: block;
}
#connect-form-container form {
    width: 90vw;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}
#connect-form-container input {
    width: 18vw;
}
.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.toggle-switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    transition: 0.3s;
}
.slider::before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}
input:checked + .slider {
    background-color: #4CAF50;
}
input:checked + .slider::before {
    transform: translateX(25px);
}
#chat-form-container {
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}
#bid-form-container fieldset,
#choose-partner-form-container {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    white-space: nowrap;
}
#choose-partner-form-container input {
    width: 18vw;
}
playing-card {
    width: 100px;
    height: 140px;
    margin-right: -70px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
playing-card:hover {
    transform: scale(1.1);
}
[winner-card=true] img {
    outline: 3px solid gold;
}
.selected-auto-play img {
    outline: 3px solid #6495ED;
}
#messages {
    width: 100vw;
    height: 9vh;
    overflow-y: auto;
    flex-wrap: nowrap;
    padding: 10px;
    scroll-behavior: smooth;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game-state-history {
    width: 100vw;
    height: 140px;
    overflow-y: auto;
    flex-wrap: nowrap;
    padding: 15px;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game-state-history #bids div,
#game-state-history #partner div,
#game-state-history #tricks div {
    width: 190px;
}
#game-state-history #bids div,
#game-state-history #partner div {
    text-align: center;
}
#game-state-history #bids #player-bid-turn,
#game-state-history #partner #player-choose-partner-turn {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#game-state-history #bids #player-bid-turn:hover,
#game-state-history #partner #player-choose-partner-turn:hover {
    transform: scale(1.1);
}
#game-state-history #tricks playing-card::after {
    content: attr(player-id);
    position: absolute;
    bottom: 87%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
#game-state-history #tricks playing-card:hover::after {
    opacity: 1;
    visibility: visible;
}
div[id^="player-tricks-"] {
    padding: 5px;
}
#player-hand {
    max-width: 70%;
    padding-left: 15px;
    padding-right: 85px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: auto;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
#score-board {
    width: 70vw;
    overflow: auto;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#score-board div {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#score-board div:hover {
    transform: scale(1.1);
}
div[id^="score-"] {
    padding: 0.5vh;
}
#game-state-info {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    color: #888;
    padding: 5px;
}
.tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
#game-state-info.active .tooltip {
    opacity: 1;
    visibility: visible;
}
.modal {
    display: none;
    position: absolute;
    z-index: 1;
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#bid-modal .modal-content,
#choose-partner-modal .modal-content {
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
